<!-- <section id="home"> -->
<div class="row heading">
	<div id="search-div" class="input-group input-group-lg col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
	  <input ng-model="query" type="text" class="form-control" placeholder="Where do you wanna go?" aria-describedby="sizing-addon1">
	  <button id="search-btn" ng-click="sendQuery(query)" type="button" class="btn btn-default">Search</button>
	  <div id="loader"><loader ng-show="loading"></loader></div>
	</div>
	
</div>
<h2>The Top {{length}} Destinations</h2>

<div ng-show="requestDone" id="coordinates" class="col-lg-12 col-md-12 col-sm-12">      
    <select multiple ng-model="selected" class="places" ng-options="place.place for place in places"><option value="">-- Choose a destination --</option></select>
    <button class="btn btn-default map-it" ng-click="getDirections(selected)">Submit</button>
</div>


<!-- <div id="row-map" class="row"> -->
    <div id="map" class="col-lg-12">
    </div>
<!-- </div> -->
	

<!-- </section> -->

