#home {
  blockquote {
    font-size: 14px;
    font-style: italic;
  }
}
.row.heading{
	background-image: url("app/photos/travel.jpg");
    background-repeat: no-repeat;
    height: 580px;
}
.container.container2{
	width: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	
}

#search-div{
	margin-top: 15%;
}

.places{
	background: rgba(144, 165, 19, 0.52);
	width: 100%;
	padding: 5px;
	font-size: 16px;
	border: 0;
	border-radius: 0;
	height: 34px;
	text-align: center;
}

#search-btn{
	width: 100%;
	background-color: rgba(226, 143, 14, 0.9);
	margin-top: 5px;
}

#coordinates{
    // margin-top: 500px;
  	width: 100%;
  	background-color: white;
  	/* left: 0; */
  	right: 0;
  	text-align: center;
  	// z-index: 1;
  	padding: 0px;
}

#row-map{
	margin-top: 15px
}
h2{
	text-align: center;
}
#map{
	width: 100%;
	height: 500px;
}

.map-it{
	background-color: #42B29C;
	margin-top: 10px;
	width: 50%;
	margin-bottom: 10px;
}

#loader{
	text-align: center;
}

.tooltip {
  position: absolute;
  width: 200px;
  background: rgba(129, 197, 96, 1);
  border-radius: 5px;
  pointer-events: none;
  padding-left: 6px;
  font-size: 13px;
}